<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <!-- <div class="footer">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div> -->

      <div class="footer">
        <!-- <p>{{ site.description }}</p> -->
        <p>{{ site.copyright }}</p>
        <a href="https://github.com/drupaltools/drupaltools.github.io/issues"><img src="https://img.shields.io/github/issues/drupaltools/drupaltools.github.io.svg" /></a>
        <a href="https://raw.githubusercontent.com/drupaltools/drupaltools.github.io/master/LICENSE.md"><img src="https://img.shields.io/badge/license-MIT-blue.svg" /></a>
        <a href="https://www.drupal.org/u/theodorosploumis"><img src="https://img.shields.io/badge/by-TheodorosPloumis-green.svg" /></a>
        <!-- <p>Under <a href="LICENSE.md">MIT License</a>.</p> -->
      </div>
    </div>

  </div>

</footer>

<script type="text/javascript" src="//platform-api.sharethis.com/js/sharethis.js#property=594a5027745487001130a25a&product=sticky-share-buttons"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-6649652-57"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-6649652-57', {
    'page_path': location.pathname + location.search  + location.hash
  });
</script>
