/**
 * Site header
 */
.site-header {
    min-height: 70px;
    background: $site-blue;
    color: #fff;
    // Positioning context for the mobile navigation icon
    position: relative;
    text-align: center;
}

.site-title {
    font-size: 36px;
    font-weight: 300;
    line-height: 70px;
    letter-spacing: -1px;
    margin-bottom: 0;
    margin-right: 1em;
    // float: left;

    &,
    &:visited {
        color: #fff;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
    text-align: center;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
    overflow: hidden;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}

.button {
  display: inline-block;
  text-decoration: none;
  padding: 4px 8px;
  background: $site-blue;
  color: #fff !important;
  border-radius: 3px;

  &:hover,
  &:focus {
    background: #fff;
    color: $site-blue !important;
    text-decoration: none;
  }
}

.buttons {
  margin-top: 20px;
}

.table-visible {
  display: none;
}

.tiles-template {
  .table-visible {
    display: initial;
  }
  .tiles-visible {
    display: none;
  }
}

/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

// Projects
.intro {
  background: #ddd;
  padding: 20px;
  font-size: 0.8em;
  text-align: center;
}

.project-wrapper {
  padding: 0 50px;
}

.ssk-count {
  padding: 20px;
  position: absolute;
  top: 0;
  right: 0;

  a {
    color: #fff;
    &:hover,
    &:focus {
      color: #fff;
    }
  }
}

.description {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 260px;

  &:hover,
  &:focus {
    white-space: normal;
  }
}

// Tile - flexbox
.project-wrapper-tile {
  padding: 10px;
  border-radius: 3px;
  box-shadow: 0 0 6px #ddd;

  &:hover,
  &:focus {
    background: #ddd;
  }
  label {
    font-weight: bold;
  }
  .logo {
    text-align: center;
    img {
      //max-width: 200px;
      height: 60px;
      width: auto;
    }
  }
  div {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 5px;
    border-bottom: 1px dotted #f1f1f1;
    padding-bottom: 5px;

    &:last-child {
      margin-bottom: 0;
      border-bottom: 0;
      padding-bottom: 0;
    }

    &.name {
      margin-bottom: 10px;
      background: #f1f1f1;
      padding: 4px 10px;
    }
    &.description,
    &.category,
    &.tags {
      &:hover,
      &:focus {
        white-space: normal;
      }
    }
  }
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.column {
  width: 23%;
  padding: 1%;
  float: left;
  margin: 0;
}

@media screen and (max-width: 1200px) {
  .column {
    width: 31%;
  }
}

@media screen and (max-width: 980px) {
  .column {
    width: 48%;
  }
}

@media screen and (max-width: 700px) {
  .column {
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
  }
}
