/**
 * Site header
 */
.site-header {
    min-height: 70px;
    background: $site-blue;
    color: #fff;
    position: relative;
    text-align: center;
}

.site-title {
    font-size: 36px;
    font-weight: 300;
    line-height: 70px;
    letter-spacing: -1px;
    margin-bottom: 0;
    margin-right: 1em;

    &,
    &:visited {
        color: #fff;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}

/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
    text-align: center;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
    overflow: hidden;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}

.button {
  display: inline-block;
  margin-left: 2px;
  margin-right: 2px;
  text-decoration: none;
  padding: 6px 10px;
  background: $site-blue;
  border-radius: 3px;
  color: #fff;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.orange {
  background: #ff7a00;
}

.red {
  background: #d01111;
}

.buttons {
  margin-top: 20px;
}

.hide-on-table,
.hide-on-grid {
  display: none;
}

.grid-template {
  .hide-on-table {
    display: inline-block;
  }
  .hide-on-grid {
    display: none;
  }
}

.table-template {
  .hide-on-table {
    display: none;
  }
  .hide-on-grid {
    display: inline-block;
  }
}

/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

// Projects
.intro {
  background: #ddd;
  padding: 20px;
  font-size: 0.8em;
  text-align: center;
}

.project-wrapper {
  padding: 0 50px;
}

.ssk-count {
  padding: 20px;
  position: absolute;
  top: 0;
  right: 0;

  a {
    color: #fff;
    &:hover,
    &:focus {
      color: #fff;
    }
  }
}

.description {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 260px;

  &:hover,
  &:focus {
    white-space: normal;
  }
}

th {
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 10;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);

  select {
    display: block;
    width: 100%;
    margin-top: 4px;
    background: $site-blue;
    border: 1px solid #ddd;
    color: #fff;
  }
}

.project-title {
  margin-bottom: 4px;
  width: 100%;
}

.project-drupal {
  line-height: 32px;
  color: $site-blue;
}

.project-source,
.project-docs {
  display: block;
  text-indent: -9999px;
  background: url(../img/source.png) no-repeat;
  width: 32px;
  height: 32px;
  float: left;
  margin-right: 10px;
}

.project-docs {
  background: url(../img/book.png) no-repeat;
}

.project-edit {
  display: block;
  background-color: #f0f0f0;
  color: #666;
  padding: 4px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  border-radius: 3px;
  margin-top: 5px;

  &:visited {
    text-decoration: none;
    color: #666;
  }

  &:hover,
  &:focus {
    text-decoration: none;
    color: #333;
    background-color: #e0e0e0;
  }
}

.project-edit-table {
  font-size: 18px;
  text-decoration: none;
  color: #666;

  &:hover,
  &:focus {
    color: $site-blue;
  }
}

// Tile - flexbox
.project-wrapper-tile {
  padding: 10px;
  border-radius: 3px;
  box-shadow: 0 0 6px #ddd;

  label {
    font-weight: bold;
  }
  .logo {
    text-align: center;
    img {
      height: 60px;
      width: auto;
    }
  }
  .description {
    max-width: 100%;
  }
  div {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 5px;
    border-bottom: 1px dotted #f1f1f1;
    padding-bottom: 5px;

    &:last-child {
      margin-bottom: 0;
      border-bottom: 0;
      padding-bottom: 0;
    }

    &.name {
      margin-bottom: 10px;
      background: #f1f1f1;
      padding: 4px 10px;
    }
    &.description,
    &.filter-category,
    &.tags {
      &:hover,
      &:focus {
        white-space: normal;
      }
    }
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column {
  width: 18%; //23%
  padding: 1%;
  float: left;
  margin: 0;
}

.tiles-template .filters {
  margin: 0 14px 10px 14px;
}

.filters {
  margin: 0 14px 20px 2px;

  .search-input {
    padding: 6px 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    font-size: 14px;
    width: 200px;
    margin-right: 10px;

    &:focus {
      outline: none;
      border-color: $site-blue;
    }
  }

  select {
    margin-right: 10px;
  }
}

.results {
  margin-left: 10px;
  font-size: 13px;
}

.js-hidden-created,
.js-hidden-category,
.js-hidden-requires,
.js-hidden-drupal,
.js-hidden-search {
  display: none;
}

// Style for deprecated items
.deprecated {
  background-color: #ffebee !important;
  color: #c62828 !important;
  padding: 2px 6px;
  border-radius: 12px;
  font-size: 11px;
  font-weight: 500;
  display: inline-block;
  margin-right: 4px;
}

.deprecated-link {
  background-color: #ffebee;
  color: #c62828;
  padding: 2px 6px;
  border-radius: 12px;
  font-size: 11px;
  font-weight: 500;
  display: inline-block;
  text-decoration: none;

  &:hover,
  &:focus {
    background-color: #ffcdd2 !important;
    color: #b71c1c !important;
    text-decoration: none;
  }
}

.js-more {
  display: block;
  background-color: #ddd;
  color: gray;
  padding: 4px;
  text-align: center;
  text-decoration: none;
  text-transform: lowercase;

  &:visited {
    text-decoration: none;
    color: gray;
  }

  &:hover,
  &:focus {
    text-decoration: none;
    color: gray;
    background-color: darken(#ddd, 20%);
  }
}

.js-close {
  position: absolute;
  right: -20px;
  top: -20px;
  width: 32px;
  height: 32px;
  display: none;
  cursor: pointer;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #f0f0f0;
  box-shadow: 0 0 10px #000;

  &:hover {
    opacity: 1;
  }

  &:before,
  &:after {
    position: absolute;
    left: 15px;
    top: 3px;
    content: " ";
    height: 26px;
    width: 3px;
    background-color: #6f6f6f;
  }

  &:before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }
}

.project-wrapper-tile {
  .filter-requires,
  .filter-category,
  .description,
  .project-edit {
    display: none;
  }
}

.js-active-project {
  position: fixed;
  top: 50px;
  background: #fff;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 6;
  width: 500px;

  .filter-requires,
  .filter-category,
  .description,
  .project-edit {
    display: block;
    overflow: hidden;
    white-space: normal;
  }

  .js-more {
    display: none;
  }

  .js-close {
    display: block;
  }
}

.overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  z-index: 3;
  top: 0;
  cursor: pointer;
}

body.js-has-open-project {
  overflow: hidden;

  .overlay {
    display: block;
  }
}

@media screen and (max-width: 1200px) {
  .column {
    width: 31%;
  }
}

@media screen and (max-width: 980px) {
  .column {
    width: 48%;
  }
}

@media screen and (max-width: 700px) {
  .column {
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
  }
}

.results-text {
  font-weight: bold;
  position: relative;

  &:after {
    content: "";
    background: url(../img/party.png) no-repeat center center;
    width: 30px;
    height: 30px;
    position: absolute;
    top: -15px;
    right: -35px;
  }
}
