<!DOCTYPE html>
{% if page.url == "/all/" %}
  <html class="grid-template">
{% else %}
  <html class="table-template">
{% endif %}

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="intro">
      <div class="wrapper">
        {% include description.html %}
        {% include buttons.html %}
      </div>
    </div>

    {% assign hero_title = page.hero_title | default: page.title | default: "All Drupal tools" %}
    {% unless page.hide_hero_title %}
      <h1 class="title" style="text-align: center;font-weight: bold;color: #333;text-transform: uppercase;margin: 30px;">
        {{ hero_title }}
      </h1>
    {% endunless %}

    <div class="page-content">
      <div class="project-wrapper">
        {% include filters.html %}
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
