<!DOCTYPE html>
{% if page.url == "/all/" %}
  <html class="grid-template">
{% else %}
  <html class="table-template">
{% endif %}

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="intro">
      <div class="wrapper">
        {% include description.html %}
        {% include buttons.html %}
      </div>
    </div>

    <h1 class="title" style="text-align: center;font-weight: bold;color: #333;text-transform: uppercase;margin: 30px;">
      All Drupal tools
    </h1>

    <div class="page-content">
      <div class="project-wrapper">
        {% include filters.html %}
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
