<!DOCTYPE html>
<html class="tiles-template">

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="intro">
      <div class="wrapper">
        {% include description.html %}
        {% include buttons-front.html %}
      </div>
    </div>

    <div class="page-content">
      <h1 class="title" style="text-align: center;">Most popular Drupal tools</h1>
      <div class="project-wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
