<!DOCTYPE html>
<html class="tiles-template">

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="intro">
      <div class="wrapper">
        {% include description.html %}
        {% include buttons-front.html %}
      </div>
    </div>

    <div class="page-content">
      {% assign hero_title = page.hero_title | default: page.title | default: "Most popular Drupal tools" %}
      {% unless page.hide_hero_title %}
        <h1 class="title" style="text-align: center;font-weight: bold;color: #333;text-transform: uppercase;margin: 0 0 30px;">
          {{ hero_title }}
        </h1>
      {% endunless %}

      <div class="project-wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
